<div class="message">
  <p>
    <small class="ri"><em>Created <%= time_ago_in_words(message.created_at) %> 
                                                  ago</em></small>
    <%= gravatar_for(message.author, size: 50) %>  
    <strong><%= message.author.authorname.capitalize %>:</strong>
    <span class="content">
      <%= message.content %>
    </span>
  </p>
</div>