<div class="heading">
<h1 align="center"> Listing All Books </h1>
<hr/>
</div>

<!--<div align="center">
  <%= will_paginate %>
</div> -->

<%= render 'book' , obj: @books %>

<div align="center">
  <%= will_paginate %>
</div>
