$navbar-default-bg: lightgrey;

@import "bootstrap-sprockets";
@import "bootstrap";

.container {
	width: 85%;
}

.center{
	text-align: center;
}

.jumbotron {
  background-image: asset-url('final.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.jumbotron h2 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}


#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	font-weight: bold;
}


#logo:hover{
	color: #fff;
	text-decoration: none;
}

.btn-lg{
	background-color: #073B15;
}

.btn-lg:hover {
	color: #fff;
	text-decoration: none;
}

footer {
  margin-top: 150px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}

.footer{
  font-size: 21px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.description{
	margin-top: 0;
}


.well a{
	color: #52AA6A;
}

.author_info{
	margin-top: 10px;
}

.colormatch a {
  color: #073B15;
}

.book-actions{
	padding-top : 10px;
	a{
	 color :#fff;
	}
}

.row{
	font-size : 20px;
  word-wrap: break-word;
}

.log{
  font-size : 25px;
}


.listing {
  list-style: none;
  padding-left: 0;
}

.author-title {
  color: #073B15;
  font-weight: bold;
  font-size: 1.25em;
}


.color-me{
  font-weight: bold;
  font-size: 1.50em;
  color: white !important;
} 

.color-log{
  font-weight: bold;
  font-size: 0.85em;
}

.input_checkbox input {
  width: auto !important;
}


.center-block {
  float: none;
  width: 80%
}

.chat-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}

.message-container {
  .form-control {
    float: left;
    width: 80%;
    height: 65px
  }
  .btn {
    float: right;
    position: relative;
    height: 65px !important;
    width: 18%;
  }
}

.message {
  padding-left: 5px;
  padding-top: 10px;
}

.messages {
  border: 5px solid #eaeaea;
  height: 25em;
  position: relative;
  overflow: auto;
}

.sc{
  font-size: 20px;
  overflow: scroll;
  height: 13em;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c3c9e3;
}

.heading{
  font-family: Proza;
  font-weight: bold;
  font-size:25px;
}

h1, .h1 {
    font-size: 50px;
    font-weight: bold;
}

.progress-bar-info {
    background-color: #dddc818a;
}

.badge {
    font-size: 19px;
}


.bdg{
  color: #EBF2ED;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    text-align: center;
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    font-weight:bold;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
    font-weight:bold;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

h4, .h4 {
    font-size: 25px;
    font-weight: bold;
}

.form-control{
  font-size:20px;
}

.scn{
  font-size: 19px;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 2px 7px;
    font-size: 17px;
    line-height: 1.5;
    border-radius: 3px;
}


.ri {
    font-size: 85%;
    float: right;
}

