<!--<footer class="footer">
  <small>
    <strong>The world belongs to those who read...</strong>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>-->